<ng-container>
  <section id="editor" class="gidc-form-label-left gidc-spacing-v">
    <form [formGroup]="formGroup">
      <mat-form-field class="gidc-form-with-hint"
        [class.gidc-form-valid]="titleControl.valid"
        [class.gidc-form-invalid]="titleControl.invalid">
        <mat-label>Title</mat-label>
        <input id="title" matInput type="text" [formControl]="titleControl">
        <mat-error *ngIf="titleControl.invalid">
          {{ titleControl.errors | errorMsg : 'title' }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Author</mat-label>
        <input id="author" matInput type="text" formControlName="author">
        <mat-error *ngIf="authorControl.invalid">
          {{ authorControl.errors | errorMsg: 'author' }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea id="description" matInput type="text" class="v-xx-large" formControlName="description"
        ></textarea>
        <mat-error *ngIf="descriptionControl.invalid">
          {{ descriptionControl.errors | errorMsg: 'description' }}
        </mat-error>
      </mat-form-field>
    </form>
  </section>

  <div id="editor-buttons" class="flex-row gap-5">
    <button id="cancel" mat-stroked-button (click)="cancel()">Cancel</button>
    <button id="save" mat-stroked-button color="primary"
            [disabled]="formGroup.pristine || formGroup.invalid"
            (click)="save()">Save</button>
    <button mat-stroked-button (click)="descriptionControl.enable()">Enable description</button>
    <button mat-stroked-button (click)="descriptionControl.disable()">Disable description</button>
  </div>
</ng-container>
