<form>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput type="text" [formControl]="searchControl">
  </mat-form-field>
</form>

<ul>
  <li
      *ngFor="let book of books$ | async"
      (click)="selectBook(book)"
      [ngClass]="{ selected: book === (selectedBook$ | async) }">
    {{ book.title }}, <em>{{ book.author }}</em>
  </li>
</ul>

<app-book-details
  *ngIf="selectedBook$ | async"
  [selectedBook]="selectedBook$ | async"
  (saveClicked)="save($event)"
  (cancelClicked)="deselectBook()"
>

</app-book-details>

