<article class="m-4">
  <h1>Hello world, Angular Training class</h1>

  <section class="mt-5">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        matInput
        #editor
        type="text"
        placeholder="Please fill the title..."
        [value]="title"
        (input)="title = editor.value">
    </mat-form-field>

    <button
      mat-button
      color="primary"
      (blur)="onBlur()"
      (click)="title = 'bookstore'">Reset
    </button>

    <p>
      {{ title }}
    </p>
  </section>
</article>
