<section id="editor" *ngIf="book">
  <form [formGroup]="formGroup">
    <mat-form-field class="gidc-form-with-hint"
                    [class.gidc-form-valid]="titleFormControl.valid"
                    [class.gidc-form-invalid]="titleFormControl.invalid">
      <mat-label>Title</mat-label>
      <input id="title" matInput type="text" [formControl]="titleFormControl">
      <mat-error>{{ titleFormControl.errors | errorMsg : 'title' }}</mat-error>
    </mat-form-field>
    <mat-form-field class="gidc-form-with-hint"
                    [class.gidc-form-valid]="authorFormControl.valid"
                    [class.gidc-form-invalid]="authorFormControl.invalid">
      <mat-label>Author</mat-label>
      <input id="author" matInput type="text" formControlName="author">
      <mat-error>{{ authorFormControl.errors | errorMsg : 'author' }}</mat-error>
    </mat-form-field>
    <mat-form-field class="gidc-form-with-hint"
                    [class.gidc-form-valid]="descriptionFormControl.valid"
                    [class.gidc-form-invalid]="descriptionFormControl.invalid">
      <mat-label>Description</mat-label>
      <textarea id="description" class="v-xx-large" matInput type="text" formControlName="description"></textarea>
      <mat-error>{{ descriptionFormControl.errors | errorMsg : 'description' }}</mat-error>
    </mat-form-field>
    <div>
      <lib-my-input formControlName="id"></lib-my-input>
    </div>
    <div class="d-flex gap-2 flex-row mt-2">
      <button mat-stroked-button color="primary" (click)="cancelClicked.emit()" id="cancel">Cancel</button>
      <button mat-flat-button color="primary" (click)="save()" id="save" [disabled]="formGroup.invalid || formGroup.pristine">Save</button>
      <button mat-stroked-button color="primary" (click)="formGroup.enable()">Enable</button>
      <button mat-stroked-button color="primary" (click)="formGroup.disable()">Disable</button>
    </div>
  </form>
</section>
