<section id="editor" *ngIf="editedBook">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input #title id="title" matInput type="text" [ngModel]="editedBook.title" (ngModelChange)="editedBook.title = $event">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Author</mat-label>
    <input #author id="author" matInput type="text" [(ngModel)]="editedBook.author">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea #description id="description" class="v-xx-large" matInput type="text" [(ngModel)]="editedBook.description"></textarea>
  </mat-form-field>
  <div class="d-flex gap-2 flex-row mt-2">
    <button mat-stroked-button color="primary" (click)="cancelClicked.emit()" id="cancel">Cancel</button>
    <button mat-flat-button color="primary" (click)="save()" id="save">Save</button>
  </div>
</section>
