<section id="editor" *ngIf="book">
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input id="title" matInput type="text" formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Author</mat-label>
      <input id="author" matInput type="text" formControlName="author">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea id="description" class="v-xx-large" matInput type="text" formControlName="description"></textarea>
    </mat-form-field>
    <div class="d-flex gap-2 flex-row mt-2">
      <button mat-stroked-button color="primary" (click)="cancelClicked.emit()" id="cancel">Cancel</button>
      <button mat-flat-button color="primary" (click)="save()" id="save">Save</button>
    </div>
  </form>
</section>
